.cover{
  margin: auto;
  padding-right: 0px;
  padding-left: 0px;  
  
  padding: 10px;
  height: 325px;


}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cover:hover .image {
  opacity: 0.3;
  /*border: 6px solid black;*/
}

.cover:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgba(0,0,0,0.85);
  border-radius: 100%;
  color: #FFDF01;
  font-size: 18px;
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}
.img-text-bottom{
  color: black;
  text-align: center;
  margin-top: 10px;
}
.img-thumbnail{
  background-color: black;
}
@media only screen and (max-width: 1024px){
  .middle{
    top: 60%;
  }
}
@media only screen and (max-width: 768px){
  .middle{
    top: 50%;
  }
}
@media only screen and (max-width: 425px){
  .middle{
    top: 85%;
  }
}
@media only screen and (max-width: 320px){
  .middle{
    top: 70%;
  }
  .cover{
    margin-top: 60px;
    margin-bottom: 100px;

    padding: 15px;
  }
  .gamename{
    font-size: ;
    color: green;
  }
}

/*-----------------------------------------
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: #000
}
*/