
.a{
	transition: all .3s ease-in-out;
	transform: scale(1.0);
}
.a:hover{
	background-color: rgba(0,0,0,0.9);
	color: #FFDF01;
	border-radius: 5px;
	padding: 1px 10px 1px 10px;
    transform: scale(1.1);

}


.clicks{
	text-decoration: none;
	color: black;
}
.navbar-header{
	background-color: black;
	padding-bottom: 5px;
	padding-top: 5px;
}

img{
	border-radius: 5px;
}

.navbar-header a{
	color: white;
	transition: all .2s ease-in-out;
}
.navbar-icons a:hover{
	color: #FFDF01;
	padding: 0px 10px 0px 0px;
}

.navbar-icons i{
	padding-right: 10px;
	padding-left: 10px;
}
.right-header{
	color: white;
}

.footer-links, .footer-links a{
	color: white;
	background-color: #232323;
	padding-top: 20px;
	padding-bottom: 20px;
}
.mb-4{
	margin-bottom: 0rem!important;
}
.footer-copyright{
	color: white;
}
footer a:hover{
	color: #FFDF01;
	text-decoration: none;
}
.cleartwoimages{
	margin-bottom: 17px;
}
.s{
	
	height: 300px;
}
.d{
	
	height: 200px;
}
.StoreInfo{
	
	padding-top: 25px;
	padding-bottom: 25px;
}
.first-section-end{
	margin-bottom: 6%;
}