.game{
	margin-top: 30px;
	margin-bottom: 30px;
}

.cover{
	background-color: red;
}

.game-info{
}

.game-title{

}

.game-price{

}

.game-age{

}

.game-rating{

}

.game-releasedate{

}

.game-description{
	margin-top: 10px;
}